@charset 'utf-8';

:root {
    --color: #1c1a10;
    --char-size: 80px;
    --clr: 0;
    --hue: calc(var(--clr) * 137.508);
    --stage-color: hsl(var(--hue), 50%, 50%);
    --stage-font-color: #fff;
    --bg-color: hsl(var(--hue), 50%, 85%);
    --highlight-color: var(--stage-font-color);
    --full-color: hsl(var(--hue), 80%, 70%);
    --offset-x: 50%;
    --offset-y: 50%;
}

body {
    font-family: 'Comfortaa', 'Open Sans', Arial, sans-serif;
    font-weight: 300;
    background-color: var(--bg-color);
    color: var(--color);
    transition: all 0.2s ease-in-out;
    user-select: none;
    overflow: hidden;
    text-align: center;
}

/* 
    Utility classes 
*/
.grid {display: grid;}
.grid-center {place-items: center;}
.flex { display: flex;}
.flex-sb {justify-content: space-between;}
.hidden { visibility: hidden;}
.full-h {height: 100vh;}

/*
    Main
*/

main {
    animation: scaleIn 0.2s ease-in-out forwards;
    pointer-events: all;
}

main > section {
    text-align: center;
    justify-content: center;
    gap: 20px;
}

main > section::before {
    content: '';
    display: block;
    height: 100vh;
    aspect-ratio: 1 / 1;
    position: absolute;
    top: var(--offset-y);
    left: var(--offset-x);
    transform: translate(-50%, -50%);
    background-color: var(--bg-color);
    z-index: -1;
    border-radius: 50%;
    transition: all 0.1s ease-in-out;
}

.info {
    font-size: 20px;
    color: var(--stage-color);
    font-weight: 600;
    letter-spacing: 2px;
    visibility: hidden;
    li {
        list-style: none;
    }
}

.stage {
    min-height: var(--char-size);
}

input {
    padding: 15px;
    font-size: 20px;
    text-align: center;
    display: block;
    color: var(--stage-font-color);
    letter-spacing: 2px;
    border: 0;
    &[type="text"] {
        pointer-events: none;
        visibility: hidden;
    }
    &[type="button"] {
        padding: 15px 30px;
        font-weight: 600;
        background-color: var(--highlight-color);
        color: var(--stage-color);
        transition: all 0.3s ease-in-out;
        justify-self: center;
        &:hover {
            background-color: var(--stage-color);
            color: var(--highlight-color);
        }
    }
}

.gaming {
    input[type="text"] {
        pointer-events: all;
        background-color: var(--stage-color);
        visibility: visible;
    }
    input[type="button"] {
        visibility: hidden;
    }
    .info {
        visibility: visible;
    }
}

.char {
    --group-color: hsl(calc(var(--group) * 137.508), 50%, 70%);
    color: var(--stage-font-color);
    width: var(--char-size);
    height: var(--char-size);
    line-height: var(--char-size);
    font-size: calc(var(--char-size) * 0.5);
    background-color: var(--stage-color);
    display: inline-block;
    visibility: hidden;
    animation-duration: 0.2s;
    animation-timing-function: ease-in-out;
    transform-origin: 50% 50%;
    border-top: 10px solid var(--full-color);
    box-sizing: content-box;
    &.in {
        animation-name: scaleIn;
    }
    &.out {
        animation-name: scaleOut;
    }
    &.visible {
        visibility: visible;
    }
    &.blur {
        filter: blur(5px);
    }
    &.pass {
        border-color: var(--bg-color);
    }
    &.board {
        border-color:var(--bg-color);
        background-color: var(--group-color);
    }
    &.first {
        background-color: var(--bg-color);
        color: var(--group-color);
        border-color: var(--group-color);
    }
}

.ranking {
    width: 40px;
    justify-self: center;
    position: absolute;
    cursor: pointer;
    padding: 5px;
    background-color: var(--stage-color);
    border-top: 5px solid var(--full-color);
    display: none;
}

.result {
    /* cursor: url('../img/ranking_yellow.png'), auto; */
    .ranking {
        display: block;
        animation: scaleIn 0.2s ease-in-out forwards;
    }
}

.billboard {
    position: absolute;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--char-size), 1fr));
    width: calc(var(--char-size)*12);
    background-color: var(--bg-color);
    animation: scaleOut 0.2s ease-in-out forwards;
}

.records {
    cursor: url('../img/back.png'), auto;
    .billboard {
        animation: scaleIn 0.2s ease-in-out forwards;
    }
    main {
        animation: scaleOut 0.2s ease-in-out forwards;
        pointer-events: none;
    }
}

.scaleOut {
    animation: scaleOut 0.2s ease-in-out forwards;
}

.scaleIn {
    animation: scaleIn 0.2s ease-in-out forwards;
}

@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scale(2);
        filter: blur(60px);
    }
    to {
        opacity: 1;
        transform: scale(1);
        filter: blur(0px);
    }
}

@keyframes scaleOut {
    from {
        opacity: 1;
        transform: scale(1);
        filter: blur(0px);
    }
    to {
        opacity: 0;
        transform: scale(2);
        filter: blur(30px);
    }
}